/* Form elements */

/* Regular inputs */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  border-bottom: 1px solid #DDE0F8;
  padding: 20px 0;
  font-weight: bold;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

label {
  display: block;
}

input[type="input"],
input[type="number"],
input[type="datetime-local"],
input[type="date"],
input[type="time"],
input[type="text"] {
  border: 2px solid #DDE0F8;
  border-radius: 3px;
  padding: 12px;
  margin-top: 8px; /*to separate from label*/
  display: block;
  box-sizing: border-box;
  width: 100%;
  caret-color: #0B27FB;
  color: #111433;
}

input[type="input"]:active,
input[type="number"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="time"]:active,
input[type="text"]:active {
  border: 2px solid #0B27FB;
}

input[type="input"]:focus,
input[type="number"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="text"]:focus {
  border: 2px solid #0B27FB;
}

input[type="input"]::placeholder,
input[type="number"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="time"]::placeholder,
input[type="text"]::placeholder {
  color: #BEBEBE;
}

/* Search Bar */

input[type="search"] {
  height: 46px;
  background-color: white;
  color: #BEBEBE;
  border-radius: 30px;
  border: none;
  margin-top: 8px;
  box-sizing: border-box;
  caret-color: #0B27FB;
}

input[type="submit"] {
  height: 46px;
  background-color: #0B27FB;
  color: #white;
  border-radius: 30px;
  border: none;
  margin-top: 8px;
}


/* Radio buttons */

label.hidelabel {
  padding-left: 30px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
label.hidelabel input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid #C7CBCB;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
label.hidelabel:hover input ~ .checkmark {
  border: 1px solid #0B27FB;
}

/* When the radio button is checked, add a blue background */
label.hidelabel input:checked ~ .checkmark {
  background-color: #0B27FB;
  border-color: #0B27FB;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
label.hidelabel input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
label.hidelabel .checkmark:after {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #0B27FB;
  border: 1px solid white;
}
